

body {
    margin: 0;
    padding: 0;
    background-image: url(wallpaper.jpg);
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px
}

.img-casal{
    width: 20%;
}
 
.menu-p{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    
}


@media (max-width: 768px) {
    .menu {
        font-size: 10px; /* Ajusta o tamanho da fonte do menu */
    }

    .img-casal {
        width: 50%; /* Aumenta a largura da imagem do casal para caber melhor */
    }

    .menu-p {
        font-size: 24px; /* Ajusta o tamanho da fonte do menu-p */
        padding: 10px; /* Adiciona um pouco de espaço dentro do menu */
    }
}